/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}

/*body and containers*/
.container{
    width: 100%;
    background-color: #748099;
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
}
.container h1{
    font-size: 3rem;
    padding: 1rem;
}
.container p{
    font-size: 1.2rem;
    padding: 1rem;
}
.container button{
    height: 4rem;
    width: 20rem;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;    
    font-size: 1.5rem;
    color: white;
}
.expand{
    background-color: #71CBC4;
}
#red{
    background-color: rgb(253, 125, 253);
    border: 1px solid rgb(150, 58, 150);
    box-shadow: 4px 5px rgb(121, 44, 121);
}
#green{
    background-color: rgb(81, 226, 81) ;
    border: 1px solid  rgb(20, 75, 20);
    box-shadow: 4px 5px #0e4d13;
}
.top-container{
    width: 100%;
    height: 20rem;
    background-image: radial-gradient(rgba(241, 100, 211, 0.753), rgb(235, 57, 205), rgb(252, 157, 223)) ;/*url('../Assets/pinkPic.jpg');*/
    padding: 2rem;
    color: rgb(245, 214, 214);
}
.top-container p{
    width: 60%;
}
/* second container*/
.container2{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
/*fourth container*/
.container4{
    width:90%;
    margin: 0 auto;

}
/*content parts*/
.blocks{
    width: 97%;
}
/*navigation*/
#nav-bar{
    display: flex;
    background-image: radial-gradient(rgba(241, 100, 211, 0.753), rgb(235, 57, 205), rgb(252, 157, 223)) ;
    width: 100%;
    height: 4rem;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .top-container {
    padding-top: 6.2rem;
}
.menu a{
    font-size: 1.3rem;
    color: white;
    padding: .5rem;
   text-decoration: none;
}
.logo{
    width: 10rem;
    height:3rem;
}
.submenu{
    display: none;
    
}
.login{
    position: relative;
    left: 80%;
}
/*cards*/
.card{
    background-color: aliceblue;
    padding: .4rem;
    margin: .5rem;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}
.card-image{
    width: 90%;
    padding-top: .5rem;
    height: 200px;
    border-radius: 15px;
}
.card .card-text{
    font-size: 2rem;
    text-decoration: underline;
    color:#DE9590;
}